/Wandering/Wandering/bin
/Wandering/WanderingContent/bin
/Wandering/WanderingContent/obj
/Wandering/Wandering/Wandering.csproj.Debug.cachefile
/Wandering/Wandering/Wandering.csproj.Release.cachefile
/Wandering/Wandering/Wandering.csproj.user
/Wandering/Wandering/obj
